$color-background: #f8f8f2;
$color-background-body: #294850;
$color-text: #333333;
$color-text-heder: #f8f8f2;
$color-keybord-border: #444444;
$color-text-key: #333333;
$color-text-key-hover: #f8f8f2;
$color-background-key: #e6e4dc;
$color-background-key-hover: #5497a8;
$color-background-key-active: #517f85;
$color-background-function-key: #c9c8bd;

p {
    text-align: center;
    color: $color-text-heder;
}

.wrapper {
    margin: 0 auto;
    padding: 1px 0 10px;
    background: $color-background-body;
    font-family: 'Helvetica', sans-serif;
}

.textarea {
    display: block;
    width: 690px;
    height: 100px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: $color-text;
}

.down,
.capsShift,
.shift,
.caps {
    display: block;
    width: 100;
    min-height: 40px;
}

.none {
    display: none;
}

.description,
.language,
.title {
    margin: 10px auto;
    text-align: center;
}

.title {
    font-size: 20px;
    color: $color-text-heder;
}

.keyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: $color-background;
    border: 1px solid $color-keybord-border;
    border-radius: 3px;
}

.row {
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.key {
    box-sizing: border-box;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: $color-text-key;
    background: $color-background-key;
    border-radius: 1px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
}

.key:hover {
    background: $color-background-key-hover;
    color: $color-text-key-hover;
}

.key.active {
    background-color: $color-background-key-active;
    border: 1px solid $color-background;
    color: $color-text-key-hover;
}

.AltLeft,
.AltRight,
.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight,
.Backspace,
.CapsLock,
.ControlLeft,
.ControlRight,
.Delete,
.Enter,
.ShiftLeft,
.ShiftRight,
.Tab {
    font-weight: 600;
    background-color: $color-background-function-key;
}

.Tab {
    width: 54px;
}

.Backspace,
.CapsLock,
.ShiftLeft {
    width: 100px;
}

.CapsLock {
    width: 80px;
}

.Delete {
    width: 40px;
}

.Enter {
    width: 106px;
}
.ShiftRight {
    width: 86px;
}

.keyboard .Space {
    width: 331px;
}

.AltLeft,
.AltRight,
.ControlLeft {
    width: 55px;
}
